*{
  padding: 0px;
  margin: 0px;  
}
.nav > li {
}	
.nav li a {
background-color:#566573;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
	}
.nav li a:hover {
background-color:#434343;
}
	
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
	
.nav li:hover > ul {
display:block;
}
	
.nav li ul li {
position:relative;
}
	
aside{
    margin-top: 90px;
    margin-left: 100px;
    background:orange;
    text-align: justify;
    font-family: consola, tahoma, helvetica;
    height: 470px;
    width: 1100px;
    float: left;
     border: black 3px solid;
}
body {
background-color:#C0C0C0;
background-attachment: fixed; 
background-repeat: no-repeat; 
background-size: 100% 100%;
}