*{
  padding: 0px;
  margin: 0px;  
}
.nav > li {
}	
.nav li a {
background-color:#566573;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
	}
.nav li a:hover {
background-color:#434343;
}
	
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
	
.nav li:hover > ul {
display:block;
}
	
.nav li ul li {
position:relative;
}
	
.nav li ul li ul {
right:-140px;
top:0px;
}
body{
    background: #e6e6e6;
}

header nav{
     background: #528fd5;
    width: 1000px;
    height: 50px;
    margin:10px; 
    padding: 30px;
}

header nav ul{
        list-style: none;
        
}


header nav ul li{
      float: left;
       background: #ffa500;
       color: coral;
     height: 50px;
}


header nav ul li a{
   
    display: block;
    color: #fff;
    text-decoration: none;
     width: 130px;
     height: 43px;
     border: black 5px solid;

}



header nav ul li a:hover{
    background: red;
     height: 50px;
}
 



#primer{
    margin-top: 0px;
    margin-left: 0px;
    background: #ffcc99;
    text-align: justify;
    font-family: consola, tahoma, helvetica;
    height: 410px;
    width: 260px;
    float: left;
     border: black 3px solid;
}







.main .articles{
     margin:10px; 
    padding: 30px;
    float: left;
    padding: 1px;
    color: black;
   
}

.main .articles article{
    height: 250px;
    width: 500px;
    background: green;
    text-align: justify;
    font-family: consola, tahoma, helvetica;
    text-transform: capitalize;
    border: black 3px solid;
}

aside{
    margin-top: 90px;
    margin-left: 100px;
    background:orange;
    text-align: justify;
    font-family: consola, tahoma, helvetica;
    height: 460px;
    width: 290px;
    float: left;
     border: black 3px solid;
}


main{
    margin: 5px;
}

footer{
    background: gray;
    color: #fff;
    clear: both;
    padding: 10px 0px;
    text-align: center;
     width: 1070px;
     height: 40px;
    
}

img{
	width:200px;
	height:200px;
}
